HBox
{
    TOP-COLOR: ladder(-fx-base, derive(-fx-base,0%) 0%, derive(-fx-base,46%) 100%);
    -fx-background-color: linear-gradient(to bottom, derive(TOP-COLOR,25%) 0%, -fx-outer-border 90%), linear-gradient(to bottom, TOP-COLOR 2%, derive(-fx-base,-2.1%) 95%); 
    -fx-background-insets: 0 0 0 0, 1 0 1 0;
    /*
    -fx-padding: 0.416667em 0.5em 0.416667em 0.5em;
    -fx-spacing: 0.333em;
    -fx-alignment: CENTER_LEFT;*/
    }
 
.mainWindowViewHomeImageViewStyle
{
	-fx-image:url("home-20.png");
}

.mainWindowViewHomeImageViewStyle:hover
{
	-fx-opacity: 0.5;
}

.mainWindowViewMinimizeImageViewStyle
{
	-fx-image:url("minimize-20.png");
}

.mainWindowViewMinimizeImageViewStyle:hover
{
	-fx-opacity: 0.5;
}

.mainWindowViewMaximizeImageViewStyle
{
	-fx-image:url("maximize-20.png");
}

.mainWindowViewMaximizeImageViewStyle:hover
{
	-fx-opacity: 0.5;
}

.mainWindowViewRestoreImageViewStyle
{
	-fx-image:url("restore-20.png");
}

.mainWindowViewRestoreImageViewStyle:hover
{
	-fx-opacity: 0.5;
}

.mainWindowViewCloseImageViewStyle
{
	-fx-image:url("close-20.png");
}

.mainWindowViewCloseImageViewStyle:hover
{
	-fx-opacity: 0.5;
}