<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE hibernate-configuration SYSTEM "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">

<hibernate-configuration>
   <session-factory>
   <property name="connection.driver_class">com.microsoft.sqlserver.jdbc.SQLServerDriver</property>
   <!--jdbc:sqlserver://[serverName[\instanceName][:portNumber]][;property=value[;property=value]]-->
   <property name="connection.url">jdbc:sqlserver://HYDDB05:1460;databaseName=DEV_CS25_trade</property>
   <property name="connection.username">ictspass</property>
   <property name="connection.password">ictspass</property>
   <property name="dialect">org.hibernate.dialect.SQLServerDialect</property>
   
   <property name="hbm2ddl.auto">validate</property>
   <property name="show_sql">true</property>
   <property name="format_sql">true</property>
   <property name="hibernate.current_session_context_class">thread</property>
</session-factory>
</hibernate-configuration>